<div class="section grey" id="banner">
    <div class="container">
    <div class="container avatar-container">
      {{ with .Params.authorimage }} <img src="/img/{{ . }}" alt="Author Image" class="avatar"> {{ end }}
    </div>

    <h1>{{ .Params.FancyName | safeHTML }}</h1>
    <p>{{ .Params.description | safeHTML }}<br \>{{emojify ":point_down:"}} </p>
    {{ if and .Site.Params.startbuttonText .Site.Params.startbuttonLink }}
    <ul class="actions special">
      <li><a href="{{ .Site.Params.StartbuttonLink }}" class="button primary">{{ .Site.Params.StartbuttonText }}</a></li>
    </ul>
    {{ end }}
  </div>
</div>