{{ define "header" }}
{{ end }}
{{ define "main" }}
    <main>      
      <div class="wrapper">
        <div class="menu-container">
          <div class="menu-wrapper" id="YIR-navbar">
            <ul class="menu">
              {{ range .Site.Params.sections }}
                <li>
                  <a href="#{{ .id  }}">
                    <span class="menu-title">{{ emojify .title }}</span>
                  </a>
                  <p class="section-description">{{ emojify .section.description | safeHTML }}</p>
                </li>
              {{ end }}
              <li><a href="#follow"><span class="menu-title">@OfekBendit</span></a></li>
            </ul>
          </div>
        </div>
        {{ range .Site.Params.sections }}
          {{ partial (printf "sections/%s.html" .id) . }}
        {{ end }}
        </div>
    </main>
{{ end }}
{{ define "content" }} {{ .Content }} {{ end }}
