/* Custom sizes */

:root {
  --font-size-xxjumbo: 3.2rem;
  --line-height-xxjumbo: 3.6rem;
  --font-size-xjumbo: 2.2rem;
  --line-height-xjumbo: 2.5rem;
  --font-size-jumbo: 1.9rem;
  --line-height-jumbo: 2.2rem;
  --font-size-mini-jumbo: 1.6rem;
  --line-height-mini-jumbo: 1.8rem;
}

/* Animations */

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  scroll-padding-top: 2.5rem;
}

/* Containers */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
  color: var(--tw-color-gray-faint);
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  animation: none !important;
  transition: none !important;
}

main {
  flex: 1;
}

.content {
  padding: var(--feather-grid-mega) 0;
}

.section {
  padding: calc(var(--feather-grid-mega) * 2) 0;
}

.container {
  max-width: var(--feather-grid-page-width);
  margin: 0 auto;
}

/* Navigation and footer */
@import "partials/nav";
@import "partials/footer";

// common styles across nav and footer
nav,
.footer {
  color: white;
  background-color: black;

  a:not(.Button) {
    color: white;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: none;
      color: var(--tw-color-gray-light);
    }
  }
}

/**********/

/* Text */

body {
  font-size: 0.8rem; // 16px
  line-height: 1.5; // 24px
}

h2 {
  margin: 1.5em 0 0.5em;
}

.center-text {
  text-align: center;
}

.small-title {
  font-size: var(--font-size-xjumbo);
  line-height: var(--line-height-xjumbo);
}

br {
  line-height: var(--feather-line-height-xlarge);
}

pre {
  font-size: 0.8em;
  padding: 3px;
}

.hide {
  display: none;
}

/*********/

/* Media queries */

/* Less than --feather-grid-page-width + (--feather-grid-mega * 2) */
@media (max-width: 1236px) {
  .container {
    margin: 0 var(--feather-grid-mega);
  }

  .small-title {
    font-size: var(--font-size-mini-jumbo);
    line-height: var(--line-height-mini-jumbo);
  }
}

/* Less than 600px */
@media (max-width: 600px) {
  .section {
    padding: calc(var(--feather-grid-mega) * 1.5) 0;
  }

  .container {
    margin: 0 var(--feather-grid-medium);
  }
}

@media (max-width: 480px) {

  .content,
  .section {
    padding: var(--feather-grid-large) 0;
  }
}