#banner {

    background-color: var(--background-color);;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
    height: 90vh;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;

    h1 {
        transform: scale(1);
        transition: transform 0.5s ease, opacity 0.5s ease;
        display: inline-block;
        font-size: 2.25em;
        opacity: 1;
        padding: 0.35em 1em;
        position: relative;
        z-index: 1;

        &:before,
        &:after {
            transition: width 0.85s ease;
            transition-delay: 0.25s;
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            width: 100%;
        }

        &:before {
            top: 0;
            left: 0;
            background-image: linear-gradient(45deg, #e89c31, #dba858);
        }

        &:after {
            bottom: 0;
            right: 0;
            background-image: linear-gradient(45deg, #dba858, #e89c31);
        }
    }

    p {
        padding-top: 1em;
        letter-spacing: 0.225em;
        text-transform: uppercase;

        a {
            color: inherit;
        }
    }

    .avatar-container {
        padding: 1em;
    }

    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        vertical-align: middle;
    }

    &:after {
        pointer-events: none;
        transition: opacity 3s ease-in-out;
        transition-delay: 1.25s;
        content: "";

        background-color: var(--background-color);;
        color: white;

        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    @media (min-width: 1080px) {
        padding-right: 5rem;
    }

    @media screen and (max-width: 736px) {
        height: auto;
        min-width: max-content;

        h1 {
            font-size: 1.25em;
        }
    }

}

body.is-preload {
    #banner {
        h1 {
            transform: scale(0.95);
            opacity: 0;
        }

        h1:before,
        h1:after {
            width: 0;
        }

        &:after {
            opacity: 1;
        }
    }
}