<section id="{{ .id }}"> <!-- top10-->
    <div class="YIR-container-section">
      <div class="section-title">{{emojify .title}}</div>
      <div class="section-description">{{ emojify .section.description }}</div>
      <div class="YIR-header">

        <h1 class="YIR-subheading" id="date-range">{{ emojify .location }}</h1>
        <h1 id="YIR-heading-text">{{ .heading }}</h1>
        <h1 class="YIR-subheading" id="type">{{ .sub.heading }}</h1>
      </div>
    </div>
</section>
{{ partial "separator.html" . }}